/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Website pages loads in full screen */
*{
    margin: 0;
    padding: 0;
}

/*------Header: Logo and Navigation tabs ------*/

header{
    position: sticky;
    top: 0px;
    left: 0px;
    background: transparent;
    z-index: 1501;
    height: 60px;
}

/*NavBar Section */
nav{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-between;
}

/*Logo*/
nav img{
    width: 50px;
    filter: drop-shadow(1px 1px 1px black);
    position: fixed;
}

/*NavBar Links*/
.nav-links{
    text-align: right;
}

/*Pages Tabs*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/*Pages Tabs font color and size */
.nav-links ul li a{
    color:#209CEE;
    text-decoration: none;
    font-size: 13px;
}

.SpaceRow-SpaceContainer{
    height: 3em;
    width: 100%;
    background-color: lightgrey;
}

/*Centered the Title, description, and button
in the center of the homepage. Set color to blue. */
.HomepageBody-OuterContainer{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background: lightgrey;
    box-align: center;
    margin: 0.5rem;
}

.HomepageBody-InnerContainer{
    width: 100%;
    display: flex;
    flex-flow: row;
    -wedkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: #b2cddf;
    padding: 1em;
    margin: 1rem;
    border-radius: 0.5rem;
}

.text-box-container{
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

/*Set the font size of the Title */
.text-box{
    font-size: 64px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: 2rem;
    padding: 1em;
    text-align: center;
}

/*Set the font size and color of the description*/
.text-box p{
    margin-bottom: 2rem;
    font-size: 16px;
    line-height: 100px;
    letter-spacing: 0px;
    color: black;
    padding: 1em;
    text-align: center;
}

/*Set button color, font size, cursor, etc */
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 5px solid white;
    padding: 15px 40px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

/* footer */

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #209CEE;
    color: white;
}

.footer-tittle{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
}

.icons .fa{
    color: white;
    margin: 0 5px;
    cursor: pointer;
    padding: 1em;
}

/* ------------------ TRANSCRIBE -----------------------*/

.main{
    display: block;
    box-align: center;
    position: relative;
    left: 20%;
    height: 150vh;
    width: 70vw;
}

.Layout-Container{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background: lightgrey;
    box-align: center;
    margin: 0.5rem;
}

.waveform-player{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    background: #b2cddf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1em;
    box-align: center;
}

/* This is where the voice frequency shows*/
.waveform{
    position: relative;
    box-align: center;
}

.cursor{
    position: absolute;
    z-index: 4;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 0px;
    display: none;
    border-right:1px solid black;
    opacity: 1;
    pointer-events: none;
}

/* This is the wave*/ 
.wave{
    display: block;
    position: relative;
    user-select: none;
    height: 300px;
    overflow: auto hidden;
    box-align: center;
}

/* This is the area where the time and controls show */
.waveform-controls{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 6em;
    padding: 2em;
    box-align: center;
    color: black;
}

.waveform-controls .time{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 1em;
    width: 15em;
    box-align: center;
}

.waveform-controls .time-label{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 400px;
}

.waveform-controls .time-value{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 1em;
}

.waveform-controls .button-group{
    width: 8em;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

/* Recording Prompt */
.Prompt-Container{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background: lightgrey;
    box-align: center;
    margin: 0.5rem;
}

.Prompt-Label{
    font-size: 25px;
    font-weight: bold;
    margin: 1em;
}

.Prompt-Textbox{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    background: #b2cddf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1em;
    box-align: center;
}

q{
    display: inline;
}

/* Form Submission Controls */

.Form-style{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background: lightgrey;
    box-align: center;
    margin: 0.5rem;
}

.Flag{
    width: 100%;
    display: flex;
    flex-flow: row;
    -wedkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: #b2cddf;
    padding: 1em;
    margin: 1rem;
    border-radius: 0.5rem;
}

.Transcription-box{
    width: 100%;
    display: flex;
    flex-flow: row;
    -wedkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: #b2cddf;
    padding: 1em;
    margin: 1rem;
    border-radius: 0.5rem;
}

/* Transcription Text area*/
.Text-area{
    width:100%;
    padding: 1em;
    height: 100px;;
}

.Tags{
    width: 100%;
    display: flex;
    flex-flow: row;
    -wedkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: #b2cddf;
    padding: 1em;
    margin: 1rem;
    border-radius: 0.5rem;
}

.Notes{
    width: 100%;
    display: flex;
    flex-flow: row;
    -wedkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: #b2cddf;
    padding: 1em;
    margin: 1rem;
    border-radius: 0.5rem;
}

/* Notes Text area*/
.Notes-text-area{
    width:100%;
    padding: 1em;
    height: 50px;;
}

/* ---------------------Log-In-------------------- --------------*/

/* Grey Container Where the login form shows up */
.container{
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    background: lightgrey;
    margin: 5rem; 
    padding: 0;
}

/*White Login Form*/
.forms{
    position: relative;
    max-width: 425px;
    width: 100%;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/*Padding for the login form  */
.forms .formlogin{
    padding: 50px;
}

/*Transcription Inc. Title in Log In Form */
.forms .formlogin .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
    color: #209CEE;
}

/*Email Container  */
.formlogin .Email-container{
    position: relative;
    height: 50px;
    width: 255px;
    margin-top: 30px;
    font-size: 23px;
    color: #209CEE;
}

/*Email Input  */
.Email-container input{
    position: static;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    font-size: 16px; 
}

/*Email Icon */
.Email-container i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 23px;
    left: 0;
}

/*Password Container  */
.formlogin .Password-container{
    position: relative;
    height: 50px;
    width: 300px;
    margin-top: 30px;
    font-size: 23px;
    color: #209CEE;
}

/*Password Input */
.Password-container input{
    position:static;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    font-size: 16px; 
}

/*Password Icon  */
.Password-container i{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 23px;
}

.Password-container i.icon{
    left: 0;
}

.Password-container i.showHidePw{
    right: 0;
}

/*---------------------About Us--------------------------------*/
.About-Us-Layout{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background: lightgrey;
    box-align: center;
    margin: 0.5rem;
}

.Title{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    background: #b2cddf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1em;
    box-align: center;
}

.History{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    background: #b2cddf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1em;
    box-align: center;
}

.Values{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: space-evenly;
    width: 100%;
    background: #b2cddf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1em;
    box-align: center;
}

.Location{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    background: #b2cddf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1em;
    box-align: center;
}



