/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Website pages loads in full screen */
*{
    margin: 0;
    padding: 0;
}

/*------Header: Logo and Navigation tabs ------*/

header{
    position: sticky;
    top: 0px;
    left: 0px;
    background: transparent;
    z-index: 1501;
    height: 60px;
}

/*NavBar Section */
nav{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-between;
}

/*Logo*/
nav img{
    width: 50px;
    filter: drop-shadow(1px 1px 1px black);
    position: fixed;
}

/*NavBar Links*/
.nav-links{
    text-align: right;
}

/*Pages Tabs*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/*Pages Tabs font color and size */
.nav-links ul li a{
    color:#209CEE;
    text-decoration: none;
    font-size: 13px;
}

.SpaceRow-SpaceContainer{
    height: 3em;
    width: 100%;
    background-color: lightgrey;
}

/*Centered the Title, description, and button
in the center of the homepage. Set color to blue. */
.HomepageBody-OuterContainer{
    position: relative;
    min-height: 600px;
    overflow: hidden;
}

.HomepageBody-InnerContainer{
    max-width: 1140px;
    padding: 0px 4rem;
    margin: 0px auto 52px;
    position: relative;
}

.text-box-container{
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    

   /* 
   color: #209CEE;
    background-color: lightgray;
   width: 90%;
   padding: 1em;
   height: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    */
}

/*Set the font size of the Title */
.text-box{
    font-size: 64px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #209CEE;
    margin-bottom: 2rem;
}

/*Set the font size and color of the description*/
.text-box p{
    margin-bottom: 2rem;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #209CEE;
}

/*Set button color, font size, cursor, etc */
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #209CEE;
    border: 1px solid #209CEE;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

/* footer */

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #209CEE;
    color: white;
}

.footer-tittle{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
}

.icons .fa{
    color: white;
    margin: 0 5px;
    cursor: pointer;
    padding: 1em;
}
