/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Website pages loads in full screen */
*{
    margin: 0;
    padding: 0;
}

/*------Header: Logo and Navigation tabs ------*/

header{
    position: sticky;
    top: 0px;
    left: 0px;
    background: transparent;
    z-index: 1501;
    height: 60px;
}

/*NavBar Section */
nav{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-between;
}

/*Logo*/
nav img{
    width: 50px;
    filter: drop-shadow(1px 1px 1px black);
    position: fixed;
}

/*NavBar Links*/
.nav-links{
    text-align: right;
}

/*Pages Tabs*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/*Pages Tabs font color and size */
.nav-links ul li a{
    color:#209CEE;
    text-decoration: none;
    font-size: 13px;
}

.SpaceRow-SpaceContainer{
    height: 3em;
    width: 100%;
    background-color: lightgrey;
}

/*Centered the Title, description, and button
in the center of the homepage. Set color to blue. */
.HomepageBody-OuterContainer{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background: lightgrey;
    box-align: center;
    margin: 0.5rem;
}

.HomepageBody-InnerContainer{
    width: 100%;
    display: flex;
    flex-flow: row;
    -wedkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: #b2cddf;
    padding: 1em;
    margin: 1rem;
    border-radius: 0.5rem;
}

.text-box-container{
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

/*Set the font size of the Title */
.text-box{
    font-size: 64px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: 2rem;
    padding: 1em;
    text-align: center;
}

/*Set the font size and color of the description*/
.text-box p{
    margin-bottom: 2rem;
    font-size: 16px;
    line-height: 100px;
    letter-spacing: 0px;
    color: black;
    padding: 1em;
    text-align: center;
}

/*Set button color, font size, cursor, etc */
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 5px solid white;
    padding: 15px 40px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

/* footer */

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #209CEE;
    color: white;
}

.footer-tittle{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
}

.icons .fa{
    color: white;
    margin: 0 5px;
    cursor: pointer;
    padding: 1em;
}

/* ------------------ TRANSCRIBE -----------------------*/
/* */
.main{
    display: block;
    box-align: center;
    position: relative;
    left: 20%;
    height: 150vh;
    width: 70vw;
}

/* Audio player container*/
.Layout-Container{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background: lightgrey;
    box-align: center;
    margin: 0.5rem;
}

/*Audio Player main background*/
.waveform-player{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    background: #b2cddf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1em;
    box-align: center;
}

/* This is where the voice frequency shows*/
#waveform{
    position: relative;
    box-align: center;
    height: auto;
}

/* This is the area where the time and controls show */
.waveform-controls{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 6em;
    padding: 2em;
    box-align: center;
    color: black;
    box-shadow: -1px 1px 4px 2px black;
    border-radius: 200px;
    margin-top: 15px;
}

/*Time and Controls */
.waveform-controls .controls{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 1em;
    width: 15em;
    box-align: center;
    width: 100%;
}

/*Current Time and Total Time */
.waveform-controls .time-label{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 10px;
    width: auto;
}

/*Time */
.waveform-controls .time-value{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px 100px 2px 10px;
}

/*Play/Pause/Stop/ Voulem Up and off */
.waveform-controls .button-group{
    padding: 16px;
    display: inline-block;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    width: 24px;
}

/*Pause Button*/
.button-group .fa-pause-circle-o{
    display: none;
}

/*Pause Button appears when audio is playing*/
.button-group.playing .fa-pause-circle-o{
    display: inline-block;
}

/*Play Button*/
.button-group.playing .fa-play-circle-o{
    display: none;
}

/*Volume Off*/
.button-group .fa-volume-off{
    display: none;
}


/* Recording Prompt */
.Prompt-Container{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background: lightgrey;
    box-align: center;
    margin: 0.5rem;
}

.Prompt-Label{
    font-size: 25px;
    font-weight: bold;
    margin: 1em;
}

.Prompt-Textbox{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    background: #b2cddf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1em;
    box-align: center;
}

q{
    display: inline;
}

/* Form Submission Controls */

.Form-style{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background: lightgrey;
    box-align: center;
    margin: 0.5rem;
}

.Flag{
    width: 100%;
    display: flex;
    flex-flow: row;
    -wedkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: #b2cddf;
    padding: 1em;
    margin: 1rem;
    border-radius: 0.5rem;
}

.Transcription-box{
    width: 100%;
    display: flex;
    flex-flow: row;
    -wedkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: #b2cddf;
    padding: 1em;
    margin: 1rem;
    border-radius: 0.5rem;
}

/* Transcription Text area*/
.Text-area{
    width:100%;
    padding: 1em;
    height: 100px;;
}

.Tags{
    width: 100%;
    display: flex;
    flex-flow: row;
    -wedkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: #b2cddf;
    padding: 1em;
    margin: 1rem;
    border-radius: 0.5rem;
}

.Notes{
    width: 100%;
    display: flex;
    flex-flow: row;
    -wedkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: #b2cddf;
    padding: 1em;
    margin: 1rem;
    border-radius: 0.5rem;
}

/* Notes Text area*/
.Notes-text-area{
    width:100%;
    padding: 1em;
    height: 50px;;
}

/* ---------------------Log-In-------------------- --------------*/

/* Grey Container Where the login form shows up */
.container{
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    background: lightgrey;
    margin: 5rem; 
    padding: 0;
}

/*White Login Form*/
.forms{
    position: relative;
    max-width: 425px;
    width: 100%;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/*Padding for the login form  */
.forms .formlogin{
    padding: 50px;
}

/*Transcription Inc. Title in Log In Form */
.forms .formlogin .title{
    position: relative; 
    font-size: 27px;
    font-weight: 600;
    color: #209CEE;
}

/*Email Container  */
.formlogin .Email-container{
    position: relative;
    height: 50px;
    width: 255px;
    margin-top: 30px;
    font-size: 23px;
    color: #209CEE;
}

/*Email Input  */
.Email-container input{
    position: static;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    font-size: 16px; 
}

.forms{
    display: flex;
    align-items: center;
}

/*Email Container line turns blue when typing on it */
.Email-container input:is(:focus, :valid){
    border-bottom: 2px solid #209CEE;
}

/*Email Icon */
.Email-container i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 23px;
    left: 0;
    color: #ccc;
}

/*Password Container  */
.formlogin .Password-container{
    position: relative;
    height: 50px;
    width: 300px;
    margin-top: 30px;
    font-size: 23px;
    color: #209CEE;
}

/*Password Input */
.Password-container input{
    position:static;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    font-size: 16px; 
}

/*Password Container line turns blue when typing on it */
.Password-container input:is(:focus, :valid){
    border-bottom: 2px solid #209CEE;
}

/*Password Icon  */
.Password-container i{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 23px;
}

/*Places the lock icon on the left of the password input  */
.Password-container i.icon{
    left: 0;
}

/*Places the eye icon on the right of the password input  */
.Password-container i.SIshowHidePw{
    right: 0;
    cursor: pointer;
}

/*When you hover over the eye icon it turns blue */
.Password-container i.SIshowHidePw:hover{
    color: #209CEE;
}

/*Registration Password Icon  */
.Password-container2 i{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 23px;
}

/*Places the lock icon on the left of the password input  */
.Password-container2 i.icon{
    left: 0;
}

/*Places the eye icon on the right of the password input  */
.Password-container2 i.SUshowHidePw{
    right: 0;
    cursor: pointer;
}

/*When you hover over the eye icon it turns blue */
.Password-container2 i.SUshowHidePw:hover{
    color: #209CEE;
}

/*Remember me and forgot password are displayed side by side with space in between */
.formlogin .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

/* */
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

/*Checkbox and label are spaced out */
.checkbox-content input{
    margin: 0 10px 0px 0px; 
}

/* Remember me and forgot password color and size*/
.formlogin .text{
    color: grey;
    font-size: 16px;
}

/* Forgot Password? is plain*/
.formlogin a{
    text-decoration: none;
}

/* Forgot Password? is underlined and turn blue when you hover over it*/
.formlogin a:hover{
    text-decoration: underline;
    color:#209CEE;
}

/*Added some space to the top and bottom of the login button */
.Log-in-button{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Styled the log in button */
.Log-in-button input{
    width: 325px;
    border: none;
    background-color: lightgrey;
    color: white;
    letter-spacing: 1pxs;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

/*Log In button turns blue when you hover over it */
.Log-in-button input:hover{
    background-color: #209CEE;
}

/*Don't have an account? Sign up centered*/
.formlogin .login-signup{
    margin: 30px;
    text-align: center;
}

/*-----------Registration-------------- */

/* Grey Container Where the login form shows up */
.container2{
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    background: lightgrey;
    margin: 5rem; 
    padding: 0;
}

/*Padding for the signup form  */
.forms .formsignup{
    padding: 50px;
}

/*Transcription Inc. Title in Sign Up Form */
.forms .formsignup .title{
    position: relative; 
    font-size: 27px;
    font-weight: 600;
    color: #209CEE;
}

/*Email Container in Registration */
.formsignup .Email-container{
    position: relative;
    height: 50px;
    width: 255px;
    margin-top: 30px;
    font-size: 23px;
    color: #209CEE;
}

/*Password Container for Registration */
.formsignup .Password-container2{
    position: relative;
    height: 50px;
    width: 300px;
    margin-top: 30px;
    font-size: 23px;
    color: #209CEE;
}

/*Password Input */
.Password-container2 input{
    position:static;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    font-size: 16px; 
}

/*Password Container line turns blue when typing on it */
.Password-container2 input:is(:focus, :valid){
    border-bottom: 2px solid #209CEE;
}

/*Password Icon  */
.Password-container2 i{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 23px;
}

/*Places the lock icon on the left of the password input  */
.Password-container2 i.icon{
    left: 0;
}

/*Places the eye icon on the right of the password input  */
.Password-container2 i.showHidePw{
    right: 0;
    cursor: pointer;
}

/*When you hover over the eye icon it turns blue */
.Password-container2 i.showHidePw:hover{
    color: #209CEE;
}

/*Added some space to the top and bottom of the registration button */
.signup-button{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Styled the registration button */
.signup-button input{
    width: 325px;
    border: none;
    background-color: lightgrey;
    color: white;
    letter-spacing: 1pxs;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

/*Registration button turns blue when you hover over it */
.signup-button input:hover{
    background-color: #209CEE;
}

/*Have an account? Sign in centered*/
.formsignup .login-signup{
    margin: 30px;
    text-align: center;
}

/* */
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

/*Checkbox and terms and conditions label are spaced out */
.checkbox-content input{
    margin: 0 10px 0px 0px; 
}

/* Terms and conditions color and size*/
.formsignup .text{
    color: grey;
    font-size: 16px;
}

/* Have an account? is plain*/
.formsignup a{
    text-decoration: none;
}

/* Have an account? is underlined and turn blue when you hover over it*/
.formsignup a:hover{
    text-decoration: underline;
    color:#209CEE;
}


/*---------------------About Us--------------------------------*/
.About-Us-Layout{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background: lightgrey;
    box-align: center;
    margin: 0.5rem;
}

.Title{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    background: #b2cddf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1em;
    box-align: center;
}

.History{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    background: #b2cddf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1em;
    box-align: center;
}

.Values{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: space-evenly;
    width: 100%;
    background: #b2cddf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1em;
    box-align: center;
}

.Location{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    background: #b2cddf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1em;
    box-align: center;
}



